/**
 * @file
 * Positioning for basic UI elements
 *
 * Defining classes around semantic elements such as sections, wrappers and the like.
 * Will apply breakpoints to define layouts at different resolutions.
 *
 */

BODY {
  font-weight: normal;
}

/* section layout */
section.branding {
  .header__logo {
    display: inline-block;
    vertical-align: bottom;
    @include transition-property(all);
    @include transition-duration(.5s);
    @include transition-timing-function(ease-in-out);
  }
}
.panels-flexible-region {
  @include transition-property(all);
  @include transition-duration(.5s);
  @include transition-timing-function(ease-in-out);  
}
@media all and (min-width: 0px)  and (max-width: 480px) {
  .panels-flexible-region {
    width: 100%;
    float: none;
  }
}
@media all and (min-width: 480px) {
}
@media all and (min-width: 480px) and (max-width: 683px) {
  .panels-flexible-region {
    width: 100%;
    float: none;
  }
}

