/**
 * @file
 * Forms
 *
 * Defines the appearance of forms in the front end
 */

/**
 * DEFAULT VARIABLES
 * Default settings for regions.
 * See mixin documentation for explanations.
 */
$ao-form-item-padding:            false !default;
$ao-form-item-margin:             false !default;
$ao-form-item-border:             false !default;
$ao-form-item-background:         false !default;
$ao-form-item-width:              false !default;
$ao-form-item-position:           false !default;
$ao-form-item-label-padding:      false !default;
$ao-form-item-label-selector:     LABEL !default;
$ao-form-item-label-margin:       false !default;
$ao-form-item-label-border:       false !default;
$ao-form-item-label-background:   false !default;
$ao-form-item-label-width:        false !default;
$ao-form-item-label-position:     false !default;
$ao-form-item-element-selector:   INPUT !default;
$ao-form-item-element-padding:    false !default;
$ao-form-item-element-margin:     false !default;
$ao-form-item-element-background: false !default;
$ao-form-item-element-border:     false !default;
$ao-form-item-element-width:      false !default;
$ao-form-item-desc-selector:      '.description' !default;
$ao-form-item-desc-padding:       false !default;
$ao-form-item-desc-margin:        false !default;
$ao-form-item-desc-background:    false !default;
$ao-form-item-desc-border:        false !default;
$ao-form-item-desc-width:         false !default;
$ao-form-item-desc-position:      false !default;

/**
 * AO FORM ITEM
 *
 * Themes form items.
 * Put these together into a style for a form to handle different displays.
 *
 * $ao-form-item-padding: Defines the padding of the form item. Set to false to ignore. Defaults to false.
 * $ao-form-item-border: Defines the border surrounding the form item. Set to false to ignore. Defaults to false.
 * $ao-form-item-width: Defines the width of the form item. Set to false to ignore. Defaults to false.
 * $ao-form-item-label-width: Defines the width of the label. Set to false to ignore. Defaults to false.
 * $ao-form-item-label-position: Positions the label. Set to false to ignore. Defaults to false.
 * $ao-form-item-element-width: Defines the width of the element. Set to false to ignore. Defaults to false.
 *
 */
@mixin ao-form-item (

  $ao-form-item-padding: $ao-form-item-padding,
  $ao-form-item-margin: $ao-form-item-margin,
  $ao-form-item-border: $ao-form-item-border,
  $ao-form-item-background: $ao-form-item-background,
  $ao-form-item-width: $ao-form-item-width,
  $ao-form-item-position: $ao-form-item-position,
  $ao-form-item-label-selector: $ao-form-item-label-selector,
  $ao-form-item-label-padding: $ao-form-item-label-padding,
  $ao-form-item-label-margin: $ao-form-item-label-margin,
  $ao-form-item-label-border: $ao-form-item-label-border,
  $ao-form-item-label-width: $ao-form-item-label-width,
  $ao-form-item-label-position: $ao-form-item-label-position,
  $ao-form-item-element-selector:  $ao-form-item-element-selector,
  $ao-form-item-element-padding:  $ao-form-item-element-padding,
  $ao-form-item-element-margin:  $ao-form-item-element-margin,
  $ao-form-item-element-border:  $ao-form-item-element-border,
  $ao-form-item-element-width:  $ao-form-item-element-width,
  $ao-form-item-desc-selector:  $ao-form-item-desc-selector,
  $ao-form-item-desc-padding:  $ao-form-item-desc-padding,
  $ao-form-item-desc-margin:  $ao-form-item-desc-margin,
  $ao-form-item-desc-border:  $ao-form-item-desc-border,
  $ao-form-item-desc-width:  $ao-form-item-desc-width,
  $ao-form-item-desc-position: $ao-form-item-desc-position

){

  // theme the form item
  @if $ao-form-item-padding != false {
    padding: $ao-form-item-padding;
  }
  @if $ao-form-item-margin != false {
    margin: $ao-form-item-margin;
  }
  @if $ao-form-item-border != false {
    border: $ao-form-item-border;
  }
  @if $ao-form-item-background != false {
    background: $ao-form-item-background;
  }
  @if $ao-form-item-width != false {
    width: $ao-form-item-width;
  }
  @if $ao-form-item-position != false {
    position: $ao-form-item-position;
  }
  
  // theme the label
  @if $ao-form-item-label-selector != false {
    #{$ao-form-item-label-selector} {
      @if $ao-form-item-label-padding != false {
        padding: $ao-form-item-label-padding;
      }
      @if $ao-form-item-label-margin != false {
        margin: $ao-form-item-label-margin;
      }
      @if $ao-form-item-label-border != false {
        border: $ao-form-item-label-border;
      }
      @if $ao-form-item-label-background != false {
        background: $ao-form-item-label-background;
      }
      @if $ao-form-item-label-width != false {
        width: $ao-form-item-label-width;
      }
      @if $ao-form-item-label-position != false {
        // here's where we place the label
        // possible values: above, left, right
      }
    }
  }
  
  // theme the element
  @if $ao-form-item-element-selector != false {
    #{$ao-form-item-element-selector} {
      @if $ao-form-item-element-padding != false {
        padding: $ao-form-item-element-padding;
      }
      @if $ao-form-item-element-margin != false {
        margin: $ao-form-item-element-margin;
      }
      @if $ao-form-item-element-border != false {
        border: $ao-form-item-element-border;
      }
      @if $ao-form-item-element-background != false {
        background: $ao-form-item-element-background;
      }
      @if $ao-form-item-element-width != false {
        width: $ao-form-item-element-width;
      }
      @if $ao-form-item-label-position != false {
        // here's where we place the element
        // possible values: above, left, right
        // the element gets placed when the label gets placed to the left or the right
      }
    }
  }
  
  // theme the description
  @if $ao-form-item-desc-selector != false {
    #{$ao-form-item-desc-selector} {
      @if $ao-form-item-desc-padding != false {
        padding: $ao-form-item-desc-padding;
      }
      @if $ao-form-item-desc-margin != false {
        margin: $ao-form-item-desc-margin;
      }
      @if $ao-form-item-desc-border != false {
        border: $ao-form-item-desc-border;
      }
      @if $ao-form-item-desc-background != false {
        border: $ao-form-item-desc-background;
      }
      @if $ao-form-item-desc-width != false {
        width: $ao-form-item-desc-width;
      }
      @if $ao-form-item-desc-position != false {
        // here's where we place the description
        // possible values: above, left, right
      }
    }
  }
}

/* OLD STUFF */
/* the basic layout for an edit form */
.edit-form-wrapper {
  border: 1px solid $e-gray;
  background-color: White;
  padding: 1em;
  margin: 1em 0em;
  
  .form-item-title,
  .form-wrapper {
    border: 1px solid $e-gray;
    padding: 0.7em;
    margin: .3em 0em;
    @include border-radius(8px);
    background-color: $f-gray3;
    
    &:hover {
      background-color: White;
    }
    
    .form-item {
      margin: 0em;
      font-size: 0.9em;
      
      .fieldset-legend,
      LABEL {
        @extend .field-label-title;
      }
      
    
      &.form-type-name-element {
        .name-credentials-wrapper {
          width: 10%;
        }
        div[class*='name-'] {
          margin-right: .4em;
          display: inline-block;
          vertical-align: top;
      
          INPUT[type=text] {
            width: 100%;
          }
          &:last-child {
            margin-right: 0em;
          }
        }
      }
      
    }
    
    .fieldset-legend {
      font-family: $font-titles;
      letter-spacing: -0.05em;
      font-size: 0.9em;
    }
  }
  
  FIELDSET.form-wrapper {
    margin: 0em;
  }
  
  FIELDSET {
    LEGEND {
      line-height: 0px;
      padding: 0.5em 0em;
      span.fieldset-legend {
        border: 1px solid $d-gray;
        padding: .2em .5em;
        background-color: White;
      }
    }
  }
  
  .field-type-geofield {
    display: none;
  }

  .field-type-addressfield {
    INPUT, select {
      margin-right: 10px;
    }
  }

  .form-actions {
    #edit-submit {
      @extend .btn;
    }
    #edit-delete {
      @extend .btn-red;
    }
  }
}


/* TODO: move to theme */
#crm-core-activity-edit-cmcd-donation-form,
#crm-core-contact-ui-form {
  @extend .edit-form-wrapper;
}
