/**
 * @file
 * Controls the appearance and behavior of panels.
 */
/**
 * DEFAULT VARIABLES
 * Default settings, see mixin documentation for explanations.
 */
 
$ao-panel-background:       false !default; 


/* PANEL PANES */
$ao-panel-pane-background:       false !default; 
$ao-panel-pane-border:       false !default; 
$ao-panel-pane-border-top:       false !default; 
$ao-panel-pane-border-bottom:       false !default; 
$ao-panel-pane-border-left:       false !default; 
$ao-panel-pane-border-right:       false !default; 
$ao-panel-pane-border-radius:       false !default; 
$ao-panel-pane-margin:       false !default; 
$ao-panel-pane-padding:       false !default; 
$ao-panel-header-font-style:       false !default; 
$ao-panel-pane-title-border:       false !default; 
$ao-panel-pane-title-border-top:       false !default; 
$ao-panel-pane-title-border-bottom:       false !default; 
$ao-panel-pane-title-border-left:       false !default; 
$ao-panel-pane-title-border-right:       false !default; 
$ao-panel-pane-title-border-radius:       false !default; 
$ao-panel-content-font-style:       false !default; 
 
// controls the appearance of a panel
// allow you to set borders, backgrounds, corners, padding, margins, etc
@mixin ao-panel () {
 
}

// sets breakpoints for panels
// controls when panes collapse
// pass in a series of breakpoint names and the mixin will apply the breakpoints
// assumes that all panes will collapse into a single column
@mixin ao-panel-responsive (

  $ao-panel-background: $ao-panel-background

) {
 
}

// controls appearance of a pane
// allow you to set borders, backgrounds, corners, padding, margins, etc
// allows you to control the position of the title
// - titles can be absolutely positioned, and the mixin will adjust the placement
@mixin ao-panel-pane (

  $ao-panel-pane-background: $ao-panel-pane-background,
  $ao-panel-pane-border: $ao-panel-pane-border,
  $ao-panel-pane-border-top: $ao-panel-pane-border-top,
  $ao-panel-pane-border-bottom: $ao-panel-pane-border-bottom,
  $ao-panel-pane-border-left: $ao-panel-pane-border-left,
  $ao-panel-pane-border-right: $ao-panel-pane-border-right,
  $ao-panel-pane-border-radius: $ao-panel-pane-border-radius,
  $ao-panel-pane-margin: $ao-panel-pane-margin,
  $ao-panel-pane-padding: $ao-panel-pane-padding,
  $ao-panel-header-font-style: $ao-panel-header-font-style,
  $ao-panel-pane-title-border: $ao-panel-pane-title-border,
  $ao-panel-pane-title-border-top: $ao-panel-pane-title-border-top,
  $ao-panel-pane-title-border-bottom: $ao-panel-pane-title-border-bottom,
  $ao-panel-pane-title-border-left: $ao-panel-pane-title-border-left,
  $ao-panel-pane-title-border-right: $ao-panel-pane-title-border-right,
  $ao-panel-pane-title-border-radius: $ao-panel-pane-border-radius,
  $ao-panel-content-font-style: $ao-panel-content-font-style

) {

  @if $ao-panel-pane-background != false {
    background: $ao-panel-pane-background;
  }
  
  @include ao-set-borders (
    $ao-set-border: $ao-panel-pane-border,
    $ao-set-border-top: $ao-panel-pane-border-top,
    $ao-set-border-bottom: $ao-panel-pane-border-bottom,
    $ao-set-border-left: $ao-panel-pane-border-left,
    $ao-set-border-right: $ao-panel-pane-border-right
  );
  
  @if $ao-panel-pane-border-radius != false {
    @include border-radius($ao-panel-pane-border-radius);
  }
  @if $ao-panel-pane-margin != false {
    margin: $ao-panel-pane-margin;
  }
  @if $ao-panel-pane-padding != false {
    padding: $ao-panel-pane-padding;
  }
  @if $ao-panel-content-font-style != false {
    @include ao-fontography($ao-panel-content-font-style);
  }
  @if $ao-panel-header-font-style != false {
    .pane-title {
      
      // header font style
      @if $ao-panel-header-font-style != false {
        @include ao-fontography($ao-panel-header-font-style);
      }
      
      // pane title border
      @include ao-set-borders (
        $ao-set-border: $ao-panel-pane-title-border,
        $ao-set-border-top: $ao-panel-pane-title-border-top,
        $ao-set-border-bottom: $ao-panel-pane-title-border-bottom,
        $ao-set-border-left: $ao-panel-pane-title-border-left,
        $ao-set-border-right: $ao-panel-pane-title-border-right
      );
      
      @if $ao-panel-pane-title-border-radius != false {
        @include border-radius($ao-panel-pane-title-border-radius);
      }
    }
  }
}