/**
 * @file
 * Controls the layouts of titles used in different parts of the system
 *
 * This file needs to go away and be replaced with styles defined in mixins
 *
 */

/* typography */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

/* standard panel title */
/* this is just a basic title that can be used for any panel  */
/* field label title */
.field-label-title {
  @extend .title-fonts;
  margin: 0em;
  padding: 0em;
  text-align: left;
  color: $blue-almost-black;
  font-size: 0.9em;
  font-weight: normal;
}

/* widget titles */
/* small colored title used in summaries and other items */
.widget-title {
  border: none;
  text-align: center;
  font-size: 1.2em;
  margin: 0px auto;
  padding: 0px;
  color: $blue-almost-black;
  text-transform: uppercase;
}

/* applied to tables */
/* used in dashboard, reports */
.widget-title-links {
  @extend .widget-title;
  margin: 0em 0em .8em;
  border-bottom: 1px solid $e-gray;
  text-align: left;
}

/* titles for widget tables */
.widget-table-titles {
  border: none;  
}
/* larger version of widget tables */
.widget-table-titles-large {
  @extend .widget-title;
  font-size: 0.9em;
  padding: 0.5em 0.5em;
  white-space: nowrap;
  overflow: hidden;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  A {
    text-decoration: none;
    IMG {
      margin-left: 0.4em;
    }
  }
}

/* average pane title */
.pane-title-header {
  font-family: $font-titles;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  font-size: $h3-font-size;
  color: $blue-almost-black;
  margin: 0em;
  padding: 0em 0em 1em;
}
