/**
 * @file
 * Menus
 *
 * Mixin for creating drop down menus in AbleOrganizer.
 */
 
/**
 * DEFAULT VARIABLES
 * Default settings for drop down menus.
 * See mixin documentation for explanations.
 */
$ao-menu-style: down !default;
$ao-menu-justify: full !default;
$ao-menu-trigger-selector: 'H2.pane-title, H2.block-title' !default;
$ao-menu-trigger-style: false !default;
$ao-menu-menu-selector: 'UL.menu' !default;
$ao-menu-menu-style: false !default;
$ao-menu-element-selector: LI !default;
$ao-menu-element-style: false !default;
$ao-menu-include-transitions: true !default;
$ao-menu-border: false !default;
$ao-menu-border-radius: false !default;
$ao-menu-border-shadow: false !default;
$ao-menu-top-offset: $base-font-size * 2.2;

/**
 * AO DROP DOWN MENU
 *
 * Creates a CSS drop down menu. Useful when you need to display a list after hovering over an element.
 * Menus appear beneath the triggering element.
 * Menus can be left justified, right justified, or at the width of the triggering element.
 * 
 * - Trigger is the element a user rolls over to make the menu appear.
 * - Menu is the container for the menu elements.
 * - Element applies to each element in the menu.
 * 
 * @variables:
 * $ao-menu-style: The style for the drop down menu. Defaults to bottom. Possible values:
 * - up: make the menu go up
 * - down: make the menu go down
 * $ao-menu-justify: The justification for the drop down menu. Defaults to full. Possible values:
 * - left: justify the menu to the left
 * - right: justify the menu to the right
 * - full: expand menu items to the full width of the triggering element
 * $ao-menu-trigger-selector: identifies the element that triggers the drop down. Defaults to 'H2.pane-title, H2.block-title'.
 * $ao-menu-trigger-style: CSS style to apply to selectors. Defaults to false.
 * $ao-menu-menu-selector: identifies the container for the menu itself. Defaults to UL.menu.
 * $ao-menu-element-selector: the selector for each element in the menu. Defaults to LI.
 * $ao-menu-include-transitions: whether or not to apply CSS transitions to the menu. Defaults to true.
 * $ao-menu-border: apply this value as a border when menus display. Defaults to false.
 * $ao-menu-border-radius: apply this as the border radius to menus when they display. Defaults to false.
 * $ao-menu-border-shadow: apply this value as the shadow for menus when they display. Defaults to false.
 * 
 */ 
@mixin ao-drop-down (
  $ao-menu-style: $ao-menu-style,
  $ao-menu-justify: $ao-menu-justify,
  $ao-menu-trigger-selector: $ao-menu-trigger-selector,
  $ao-menu-trigger-style: $ao-menu-trigger-style,
  $ao-menu-menu-selector: $ao-menu-menu-selector,
  $ao-menu-menu-style: $ao-menu-menu-style,
  $ao-menu-element-selector: $ao-menu-element-selector,
  $ao-menu-element-style: $ao-menu-element-style,
  $ao-menu-include-transitions: $ao-menu-include-transitions,
  $ao-menu-border: $ao-menu-border,
  $ao-menu-border-radius: $ao-menu-border-radius,
  $ao-menu-border-shadow: $ao-menu-border-shadow,
  $ao-menu-top-offset: $ao-menu-top-offset
) {
  
  // default states
  position: relative;
  
  #{$ao-menu-trigger-selector} {
    // default style for triggers
    @if $ao-menu-trigger-style != false {
      @extend #{$ao-menu-trigger-style};
    }
    @if $ao-menu-include-transitions == true {
      @include ao-transition();
    }
  }
  #{$ao-menu-menu-selector} {
  
    // hide the menu
    display: none;
    position: absolute;

    // default style for menus
    @if $ao-menu-menu-style != false {
      @extend #{$ao-menu-menu-style};
    }
    @if $ao-menu-include-transitions == true {
      @include ao-transition();
    }
    @if $ao-menu-border != false {
      @include border($ao-menu-border);
    }
    @if $ao-menu-border-radius != false {
      @include border-radius($ao-menu-border-radius);
    }
    @if $ao-menu-border-shadow != false {
      @include box-shadow($ao-menu-border-shadow);
    }
    
    // menu placement
    // this is where up, down should be applied
    @if $ao-menu-style == up {
      bottom: 100%;
    }
    @if $ao-menu-style == down {
      top: $ao-menu-top-offset;
    }
    // this is where left, right and full should be applied
    @if $ao-menu-justify == left or $ao-menu-justify == full { 
      left: 0px;
    }
    @if $ao-menu-justify == right { 
      right: 0px;
    }
    @if $ao-menu-justify == full { 
      min-width: 100%; 
    }
    
    #{$ao-menu-element-selector} {
      // default style for elements
      @if $ao-menu-element-style != false {
        @extend #{$ao-menu-element-style};
      }
      @if $ao-menu-include-transitions == true {
        @include ao-transition();
      }
    }
  }
  
  // the hover gets applied to the containing element, not the trigger
  // this allows us to do things like make block titles into triggers for menus
  &:hover {
    #{$ao-menu-menu-selector} {
      display: block;
    }
  }
} 

